# Autotools
*.log
*.scan
*.tar.gz
*~
*.exe
*.o
*.a
*.la
*.dll
*.lo
stamp-*
config.*
libtool
ltmain.sh
.libs
.deps
#Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.status
configure
depcomp
install-sh
missing
m4

conf13576*
Edit.*